<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>订单管理</title>

		<link href="${ctxPath}/static/mall/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="${ctxPath}/static/mall/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="${ctxPath}/static/mall/css/personal.css" rel="stylesheet" type="text/css">
		<link href="${ctxPath}/static/mall/css/orstyle.css" rel="stylesheet" type="text/css">

		<script src="${ctxPath}/static/mall/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="${ctxPath}/static/mall/AmazeUI-2.4.2/assets/js/amazeui.js"></script>

	</head>

	<body>
		<!--头 -->
		@layout("/mall/layout/mallHeader.html"){}
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-order">

						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单管理</strong> / <small>Order</small></div>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											
											<!--交易成功-->
											<div class="order-status5">
											@for(order in page.list!){
											 
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">${order.orderSn!}</a></div>
												</div>
												<div class="order-content">
												@var listog = goodsClass.getGoodsListByorderid(order.id);
											     @for(ordergoods in listog!){
													<div class="order-left">
														
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="${ctxPath}/static/mall/images/${ordergoods.goodsId!}yy.png" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>${ordergoods.goodsName!}</p>
																			
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
															 @var goods = goodsClass.getGoodsListByCartid(ordergoods.goodsId);
																<div class="item-price">
																	${goods.goodsStorePrice!}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>${ordergoods.goodsNum!}</span>
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	
																</div>
															</li>
														</ul>

													</div>
													@}
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：${order.orderTotalPrice!}
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">交易成功</p>
																	
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu">
																	<a href="${ctxPath}/person/orderdel/${order.id}">删除订单</a></div>
															</li>
														</div>
													</div>
										</div>
										@}
									</div>
								</div>
							</div>
							</div>	
						
						</div>
					</div>
				</div>
		
						
		</div>
		<!--底部-->
		@layout("/mall/layout/mallFooter.html"){}
	</body>

</html>