<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>搜索页面</title>

	<link
		href="${ctxPath}/static/mall/AmazeUI-2.4.2/assets/css/amazeui.css"
		rel="stylesheet" type="text/css" />
	<link href="${ctxPath}/static/mall/AmazeUI-2.4.2/assets/css/admin.css"
		rel="stylesheet" type="text/css" />

	<link href="${ctxPath}/static/mall/basic/css/demo.css" rel="stylesheet"
		type="text/css" />

	<link href="${ctxPath}/static/mall/css/seastyle.css" rel="stylesheet"
		type="text/css" />

	<script type="text/javascript"
		src="${ctxPath}/static/mall/basic/js/jquery-1.7.min.js"></script>
	<script type="text/javascript"
		src="${ctxPath}/static/mall/js/script.js"></script>
</head>

<body>

	@layout("/mall/layout/mallTop.html"){}
	<div class="clear"></div>
	
	
	
	
	<div class="search">
		<div class="search-list">
	
	
			<div class="am-g am-g-fixed">
				<div class="am-u-sm-12 am-u-md-12">
					
					<div class="search-content">
						
					

						<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
							@for(goods in goodslist!){
							<li>
								<div class="i-pic limit">
									<a href="${ctxPath!}/front/goods/goodsDetail/${goods.id!}"
										target="_blank"><img
										src="${ctxPath}/static/mall/images/${goods.id!}y.jpg" /></a>
									
									
									
								</div>
								<div>
								  <p class="title fl">【${goods.storeName!}】${goods.goodsName!}</p>
							    </div>
							</li> @}
						</ul>
					</div>
				
				</div>
			</div>
			<div class="footer">
				<div class="footer-hd">
					<p>
						<a href="#">yx科技</a> <b>|</b> <a href="#">商城首页</a> <b>|</b> <a
							href="#">支付宝</a> <b>|</b> <a href="#">物流</a>
					</p>
				</div>
				<div class="footer-bd">
					<p>
						<a href="#">关于yx</a> <a href="#">合作伙伴</a> <a href="#">联系我们</a>
						<a href="#">网站地图</a> <em>© 2020-2025 yx.com 版权所有</em>
					</p>
				</div>
			</div>
		</div>

	</div>

	<!--引导 -->
	<div class="navCir">
		<li><a href="home2.html"><i class="am-icon-home "></i>首页</a></li>
		<li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
		<li><a href="shopcart.html"><i
				class="am-icon-shopping-basket"></i>购物车</a></li>
		<li><a href="${ctxPath}/static/mall/person/index.html"><i
				class="am-icon-user"></i>我的</a></li>
	</div>

	
	</div>
	<script>
			window.jQuery || document.write('<script src="${ctxPath}/static/mall/basic/js/jquery-1.9.min.js"><\/script>');
		</script>
	<script type="text/javascript"
		src="${ctxPath}/static/mall/basic/js/quick_links.js"></script>

	<div class="theme-popover-mask"></div>

</body>

</html>