<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
						</p>
					</div>
				</div>

			</div>

			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="index.html"><i class="am-icon-user"></i>个人中心</a>
					</li>
					<li class="person">
						
						<ul>
							<li> <a href="${ctxPath}/person/information"><p>个人信息</p></a></li>
							<li> <a href="${ctxPath}/person/address"><p>地址管理</p></a></li>
							<li><a href="${ctxPath}/person/order/99"><p>订单管理</p></a></li>
							<li>&nbsp</li>
							<li>&nbsp</li>
							<li>&nbsp</li>
							<li>&nbsp</li>
						</ul>
					</li>
				
				</ul>

			</aside>